# Assignment No:02

#### Name:Khatake Sankalp Laxman
#### Batch : D                                    
#### Class:S.Y-A
#### EPR No: EN23107064

In [94]:
import pandas as pd

In [96]:
df= pd.read_csv('sk.csv')

In [98]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [100]:
df['age'].mean()

38.64358543876172

In [213]:
df['age'].where(df['age']>30)

0         NaN
1        38.0
2         NaN
3        44.0
4         NaN
         ...
48837     NaN
48838    40.0
48839    58.0
48840     NaN
48841    52.0
Name: age, Length: 48842, dtype: float64

In [215]:
df.where(df['age']>50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48839,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
48840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48841,52.0,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K

In [217]:
df.where(df['age']>50).dropna()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
7,63.0,Self-emp-not-inc,104626.0,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103.0,0.0,32.0,United-States,>50K
9,55.0,Private,104996.0,7th-8th,4.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,10.0,United-States,<=50K
10,65.0,Private,184454.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418.0,0.0,40.0,United-States,>50K
13,58.0,?,299831.0,HS-grad,9.0,Married-civ-spouse,?,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K
22,72.0,?,132015.0,7th-8th,4.0,Divorced,?,Not-in-family,White,Female,0.0,0.0,6.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48823,72.0,?,129912.0,HS-grad,9.0,Married-civ-spouse,?,Husband,White,Male,0.0,0.0,25.0,United-States,<=50K
48829,65.0,Self-emp-not-inc,99359.0,Prof-school,15.0,Never-married,Prof-specialty,Not-in-family,White,Male,1086.0,0.0,60.0,United-States,<=50K
48835,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
48839,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
48841,52.0,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K

In [225]:
df.where(df['income']>'50K').count()

age                48842
workclass          48842
fnlwgt             48842
education          48842
educational-num    48842
marital-status     48842
occupation         48842
relationship       48842
race               48842
gender             48842
capital-gain       48842
capital-loss       48842
hours-per-week     48842
native-country     48842
income             48842
dtype: int64

In [201]:
df.groupby(['age']).min()

,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
age,,,,,,,,,,,,,,
17,?,19752,10th,3,Married-civ-spouse,?,Husband,Amer-Indian-Eskimo,Female,0,0,4,?,<=50K
18,?,20057,10th,3,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,2,?,<=50K
19,?,20469,10th,1,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,2,?,<=50K
20,?,19410,10th,1,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,2,?,<=50K
21,?,20728,10th,1,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,1,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
87,?,90338,HS-grad,9,Married-spouse-absent,?,Not-in-family,White,Female,0,0,2,United-States,<=50K
88,Private,30102,11th,4,Divorced,Adm-clerical,Husband,White,Female,0,0,5,?,<=50K
89,?,29106,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,20,United-States,<=50K
90,?,39824,10th,2,Divorced,?,Husband,Asian-Pac-Islander,Female,0,0,4,?,<=50K

In [322]:
df.groupby(['age','workclass','fnlwgt','education','educational-num']).count().head().tail()

                                                marital-status  occupation  \
age workclass fnlwgt education educational-num
17  ?         27251  11th      7                             1           1
              34019  10th      6                             1           1
              34088  12th      8                             1           1
              34505  11th      7                             1           1
              35603  11th      7                             1           1

                                                relationship  race  gender  \
age workclass fnlwgt education educational-num
17  ?         27251  11th      7                           1     1       1
              34019  10th      6                           1     1       1
              34088  12th      8                           1     1       1
              34505  11th      7                           1     1       1
              35603  11th      7                           1     1       1

                                                capital-gain  capital-loss  \
age workclass fnlwgt education educational-num
17  ?         27251  11th      7                           1             1
              34019  10th      6                           1             1
              34088  12th      8                           1             1
              34505  11th      7                           1             1
              35603  11th      7                           1             1

                                                hours-per-week  \
age workclass fnlwgt education educational-num
17  ?         27251  11th      7                             1
              34019  10th      6                             1
              34088  12th      8                             1
              34505  11th      7                             1
              35603  11th      7                             1

                                                native-country  income
age workclass fnlwgt education educational-num
17  ?         27251  11th      7                             1       1
              34019  10th      6                             1       1
              34088  12th      8                             1       1
              34505  11th      7                             1       1
              35603  11th      7                             1       1

In [241]:
df.groupby(['age']).sum()

,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
age,,,,,,,,,,,,,,
17,Private?PrivatePrivate?PrivatePrivatePrivatePr...,106598922,10th10th11th10th11th11th11th11th7th-8th11th11t...,3978,Never-marriedNever-marriedNever-marriedNever-m...,Machine-op-inspct?SalesSales?Farming-fishingSa...,Not-in-familyOwn-childOwn-childOwn-childOwn-ch...,WhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteW...,MaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFe...,48341,19815,12577,United-StatesUnited-StatesUnited-StatesUnited-...,<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<...
18,?PrivatePrivatePrivatePrivatePrivatePrivatePri...,166728967,Some-collegeSome-collegeHS-gradHS-gradSome-col...,7086,Never-marriedNever-marriedNever-marriedNever-m...,?Other-serviceOther-serviceMachine-op-inspctSa...,Own-childOwn-childNot-in-familyOwn-childOwn-ch...,WhiteWhiteWhiteWhiteWhiteAsian-Pac-IslanderWhi...,FemaleMaleFemaleFemaleFemaleFemaleMaleMaleMale...,65653,32629,22193,United-StatesUnited-StatesUnited-StatesUnited-...,<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<...
19,PrivatePrivatePrivatePrivatePrivatePrivatePriv...,215777445,Some-collegeSome-collegeSome-collegeHS-gradHS-...,9568,Never-marriedNever-marriedNever-marriedNever-m...,Other-serviceHandlers-cleanersProtective-servS...,Own-childOwn-childOwn-childNot-in-familyNot-in...,WhiteBlackWhiteWhiteWhiteWhiteWhiteAmer-Indian...,MaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleFe...,133518,44836,32180,United-StatesUnited-StatesUnited-StatesUnited-...,<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<...
20,State-govPrivateState-govPrivateFederal-govPri...,220459159,Some-collegeHS-gradSome-collegeSome-college11t...,10397,Never-marriedNever-marriedNever-marriedNever-m...,Other-serviceCraft-repairFarming-fishingAdm-cl...,Own-childOwn-childOwn-childNot-in-familyOwn-ch...,WhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteB...,MaleMaleMaleFemaleFemaleMaleFemaleFemaleFemale...,74501,39783,36097,United-StatesUnited-StatesUnited-StatesUnited-...,<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<...
21,PrivatePrivatePrivatePrivatePrivatePrivate?Pri...,219449363,Some-collegeSome-collegeSome-college5th-6thSom...,10336,Never-marriedNever-marriedSeparatedNever-marri...,Other-serviceAdm-clericalHandlers-cleanersMach...,Own-childOwn-childNot-in-familyOther-relativeO...,WhiteWhiteWhiteWhiteWhiteWhiteWhiteOtherOtherW...,FemaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMa...,185647,44826,37541,United-StatesUnited-StatesUnited-StatesMexicoU...,<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<=50K<...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
87,Private??,331207,HS-gradHS-gradHS-grad,27,Married-spouse-absentWidowedWidowed,Sales??,Not-in-familyNot-in-familyNot-in-family,WhiteWhiteWhite,MaleFemaleMale,0,0,21,United-StatesUnited-StatesUnited-States,<=50K<=50K<=50K
88,Self-emp-not-incSelf-emp-not-incPrivateSelf-em...,897244,7th-8th11thBachelorsProf-schoolProf-schoolSome...,64,WidowedMarried-civ-spouseNever-marriedMarried-...,Farming-fishingFarming-fishingExec-managerialP...,Not-in-familyHusbandNot-in-familyHusbandHusban...,WhiteWhiteWhiteWhiteWhiteWhite,MaleMaleMaleMaleMaleFemale,6418,1816,215,United-StatesUnited-States?United-StatesUnited...,<=50K>50K<=50K<=50K<=50K<=50K
89,Private?,181945,Bachelors10th,19,Married-civ-spouseMarried-civ-spouse,Sales?,HusbandHusband,WhiteWhite,MaleMale,0,0,60,United-StatesUnited-States,<=50K<=50K
90,PrivateSelf-emp-not-incPrivatePrivateSelf-emp-...,9369040,Assoc-acdmProf-schoolHS-gradAssoc-acdmProf-sch...,555,Married-civ-spouseWidowedMarried-civ-spouseNev...,SalesProf-specialtyTransport-movingExec-manage...,HusbandNot-in-familyHusbandNot-in-familyHusban...,WhiteWhiteWhiteWhiteWhiteWhiteAsian-Pac-Island...,MaleMaleMaleMaleMaleMaleMaleMaleFemaleFemaleMa...,124542,10331,2071,United-StatesUnited-StatesUnited-StatesUnited-...,>50K<=50K<=50K>50K>50K<=50K<=50K>50K<=50K<=50K...

In [251]:
df.groupby(['income']).sum()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,,
<=50K,1369986,PrivatePrivate?Private?PrivatePrivateFederal-g...,7060920057,11thHS-gradSome-college10thHS-gradSome-college...,356632,Never-marriedMarried-civ-spouseNever-marriedNe...,Machine-op-inspctFarming-fishing?Other-service...,Own-childHusbandOwn-childNot-in-familyUnmarrie...,BlackWhiteWhiteWhiteBlackWhiteWhiteWhiteWhiteW...,MaleMaleFemaleMaleMaleFemaleMaleMaleFemaleMale...,5462168,2012015,1443102,United-StatesUnited-StatesUnited-StatesUnited-...
>50K,517444,Local-govPrivateSelf-emp-not-incPrivatePrivate...,2202655605,Assoc-acdmSome-collegeProf-schoolHS-gradHS-gra...,135602,Married-civ-spouseMarried-civ-spouseMarried-ci...,Protective-servMachine-op-inspctProf-specialty...,HusbandHusbandHusbandHusbandHusbandHusbandHusb...,WhiteBlackWhiteWhiteWhiteWhiteAsian-Pac-Island...,MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...,47241653,2261773,531208,United-StatesUnited-StatesUnited-StatesUnited-...

In [253]:
df.groupby(['income']).count()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,,
<=50K,37155,37155,37155,37155,37155,37155,37155,37155,37155,37155,37155,37155,37155,37155
>50K,11687,11687,11687,11687,11687,11687,11687,11687,11687,11687,11687,11687,11687,11687

In [257]:
df.groupby(['income']).max()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,,
<=50K,90,Without-pay,1490400,Some-college,16,Widowed,Transport-moving,Wife,White,Male,41310,4356,99,Yugoslavia
>50K,90,Without-pay,1226583,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3683,99,Yugoslavia

In [255]:
df.groupby(['income']).min()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,,
<=50K,17,?,12285,10th,1,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,1,?
>50K,19,?,13769,10th,1,Divorced,?,Husband,Amer-Indian-Eskimo,Female,0,0,1,?

In [285]:
df.groupby(['income','age','occupation']).count().head()

                            workclass  fnlwgt  education  educational-num  \
income age occupation
<=50K  17  ?                       99      99         99               99
           Adm-clerical            39      39         39               39
           Craft-repair            18      18         18               18
           Exec-managerial          3       3          3                3
           Farming-fishing         17      17         17               17

                            marital-status  relationship  race  gender  \
income age occupation
<=50K  17  ?                            99            99    99      99
           Adm-clerical                 39            39    39      39
           Craft-repair                 18            18    18      18
           Exec-managerial               3             3     3       3
           Farming-fishing              17            17    17      17

                            capital-gain  capital-loss  hours-per-week  \
income age occupation
<=50K  17  ?                          99            99              99
           Adm-clerical               39            39              39
           Craft-repair               18            18              18
           Exec-managerial             3             3               3
           Farming-fishing            17            17              17

                            native-country
income age occupation
<=50K  17  ?                            99
           Adm-clerical                 39
           Craft-repair                 18
           Exec-managerial               3
           Farming-fishing              17

In [279]:
df.groupby(['income','age','occupation']).sum()

                                                                    workclass  \
income age occupation
<=50K  17  ?                ???????????????Never-worked???????????????????...
           Adm-clerical     PrivatePrivatePrivateSelf-emp-incPrivatePrivat...
           Craft-repair     PrivatePrivatePrivatePrivatePrivatePrivatePriv...
           Exec-managerial                              PrivatePrivatePrivate
           Farming-fishing  PrivatePrivateSelf-emp-not-incPrivateLocal-gov...
...                                                                       ...
>50K   90  Adm-clerical                                               Private
           Craft-repair                                      Local-govPrivate
           Exec-managerial                     PrivateLocal-govPrivatePrivate
           Prof-specialty                      Self-emp-not-incPrivatePrivate
           Sales                                               PrivatePrivate

                              fnlwgt  \
income age occupation
<=50K  17  ?                18607734
           Adm-clerical      7288967
           Craft-repair      3149388
           Exec-managerial    359234
           Farming-fishing   2691236
...                              ...
>50K   90  Adm-clerical       197613
           Craft-repair       363733
           Exec-managerial    596327
           Prof-specialty     416387
           Sales              195855

                                                                    education  \
income age occupation
<=50K  17  ?                10th11th10th10th10th10th10th10th10th9thSome-co...
           Adm-clerical     11thHS-grad11th12th11th10th11th11th11th12th10t...
           Craft-repair     12th10th10th9th11th11th7th-8th10th9th11th11th9...
           Exec-managerial                                    11th11thHS-grad
           Farming-fishing  11th11th11th10th10th9th12th10th11th10th11th10t...
...                                                                       ...
>50K   90  Adm-clerical                                               HS-grad
           Craft-repair                                        HS-gradHS-grad
           Exec-managerial                  Assoc-acdmMastersMastersBachelors
           Prof-specialty                       Prof-schoolProf-schoolMasters
           Sales                                          Assoc-acdmBachelors

                            educational-num  \
income age occupation
<=50K  17  ?                            652
           Adm-clerical                 285
           Craft-repair                 117
           Exec-managerial               23
           Farming-fishing              110
...                                     ...
>50K   90  Adm-clerical                   9
           Craft-repair                  18
           Exec-managerial               53
           Prof-specialty                44
           Sales                         25

                                                               marital-status  \
income age occupation
<=50K  17  ?                Never-marriedNever-marriedNever-marriedNever-m...
           Adm-clerical     Never-marriedNever-marriedNever-marriedNever-m...
           Craft-repair     Never-marriedNever-marriedNever-marriedNever-m...
           Exec-managerial            Never-marriedNever-marriedNever-married
           Farming-fishing  Never-marriedNever-marriedNever-marriedNever-m...
...                                                                       ...
>50K   90  Adm-clerical                                         Never-married
           Craft-repair                       Never-marriedMarried-civ-spouse
           Exec-managerial  Never-marriedMarried-civ-spouseNever-marriedMa...
           Prof-specialty   Married-civ-spouseMarried-civ-spouseMarried-ci...
           Sales                         Married-civ-spouseMarried-civ-spouse

                                                                 relationship  \
income age occupation
<=50K  17  ?                Own-childOwn-childOwn-childOwn-childOwn-childO...
           Adm-clerical     Own-childOwn-childOwn-childOwn-childOwn-childO...
           Craft-repair     Own-childOwn-childOwn-childOther-relativeOwn-c...
           Exec-managerial                        Own-childOwn-childOwn-child
           Farming-fishing  Own-childOwn-childOwn-childOwn-childOwn-childO...
...                                                                       ...
>50K   90  Adm-clerical                                         Not-in-family
           Craft-repair                                      Own-childHusband
           Exec-managerial              Not-in-familyHusbandNot-in-familyWife
           Prof-specialty                                  HusbandHusbandWife
           Sales                                               HusbandHusband

                                                                         race  \
income age occupation
<=50K  17  ?                WhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteWhiteW...
           Adm-clerical     WhiteWhiteWhiteWhiteWhiteWhiteAmer-Indian-Eski...
           Craft-repair     WhiteWhiteOtherWhiteWhiteWhiteWhiteWhiteWhiteW...
           Exec-managerial                                    WhiteWhiteWhite
           Farming-fishing  WhiteWhiteWhiteWhiteWhiteBlackWhiteWhiteWhiteW...
...                                                                       ...
>50K   90  Adm-clerical                                                 White
           Craft-repair                                            WhiteWhite
           Exec-managerial                               WhiteWhiteBlackWhite
           Prof-specialty                                     WhiteWhiteWhite
           Sales                                                   WhiteWhite

                                                                       gender  \
income age occupation
<=50K  17  ?                MaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleMa...
           Adm-clerical     FemaleFemaleFemaleFemaleMaleFemaleFemaleFemale...
           Craft-repair     MaleFemaleFemaleMaleMaleMaleMaleMaleFemaleFema...
           Exec-managerial                                 FemaleFemaleFemale
           Farming-fishing  MaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMale...
...                                                                       ...
>50K   90  Adm-clerical                                                Female
           Craft-repair                                              MaleMale
           Exec-managerial                                 MaleMaleMaleFemale
           Prof-specialty                                      MaleMaleFemale
           Sales                                                     MaleMale

                            capital-gain  capital-loss  hours-per-week  \
income age occupation
<=50K  17  ?                       35150          1721            2563
           Adm-clerical             1649          1602             678
           Craft-repair             1188             0             490
           Exec-managerial             0             0              79
           Farming-fishing           594             0             470
...                                  ...           ...             ...
>50K   90  Adm-clerical                0             0              40
           Craft-repair            21064             0              90
           Exec-managerial         26148             0             195
           Prof-specialty          40102             0             157
           Sales                    9386          1825              65

                                                               native-country
income age occupation
<=50K  17  ?                United-StatesUnited-StatesUnited-StatesUnited-...
           Adm-clerical     United-StatesUnited-StatesUnited-StatesUnited-...
           Craft-repair     ColumbiaUnited-StatesEl-SalvadorUnited-StatesU...
           Exec-managerial            United-StatesUnited-StatesUnited-States
           Farming-fishing  United-StatesUnited-StatesUnited-StatesUnited-...
...                                                                       ...
>50K   90  Adm-clerical                                         United-States
           Craft-repair                                  United-StatesEcuador
           Exec-managerial     United-StatesUnited-StatesUnited-StatesEngland
           Prof-specialty             United-StatesUnited-StatesUnited-States
           Sales                                   United-StatesUnited-States

[1616 rows x 12 columns]

In [291]:
df.groupby(['income','gender']).count()

                 age  workclass  fnlwgt  education  educational-num  \
income gender
<=50K  Female  14423      14423   14423      14423            14423
       Male    22732      22732   22732      22732            22732
>50K   Female   1769       1769    1769       1769             1769
       Male     9918       9918    9918       9918             9918

               marital-status  occupation  relationship   race  capital-gain  \
income gender
<=50K  Female           14423       14423         14423  14423         14423
       Male             22732       22732         22732  22732         22732
>50K   Female            1769        1769          1769   1769          1769
       Male              9918        9918          9918   9918          9918

               capital-loss  hours-per-week  native-country
income gender
<=50K  Female         14423           14423           14423
       Male           22732           22732           22732
>50K   Female          1769            1769            1769
       Male            9918            9918            9918

In [281]:
df.groupby(['income','age','occupation']).max()

                                   workclass  fnlwgt     education  \
income age occupation
<=50K  17  ?                    Never-worked  806316  Some-college
           Adm-clerical     Self-emp-not-inc  413557  Some-college
           Craft-repair         Self-emp-inc  323164  Some-college
           Exec-managerial           Private  311288       HS-grad
           Farming-fishing         State-gov  368700       HS-grad
...                                      ...     ...           ...
>50K   90  Adm-clerical              Private  197613       HS-grad
           Craft-repair              Private  188242       HS-grad
           Exec-managerial           Private  227796       Masters
           Prof-specialty   Self-emp-not-inc  206667   Prof-school
           Sales                     Private  149069     Bachelors

                            educational-num      marital-status  \
income age occupation
<=50K  17  ?                             10             Widowed
           Adm-clerical                  10       Never-married
           Craft-repair                  10       Never-married
           Exec-managerial                9       Never-married
           Farming-fishing                9       Never-married
...                                     ...                 ...
>50K   90  Adm-clerical                   9       Never-married
           Craft-repair                   9       Never-married
           Exec-managerial               14       Never-married
           Prof-specialty                15  Married-civ-spouse
           Sales                         13  Married-civ-spouse

                             relationship   race  gender  capital-gain  \
income age occupation
<=50K  17  ?                    Own-child  White    Male         34095
           Adm-clerical         Own-child  White    Male          1055
           Craft-repair         Own-child  White    Male           594
           Exec-managerial      Own-child  White  Female             0
           Farming-fishing      Own-child  White    Male           594
...                                   ...    ...     ...           ...
>50K   90  Adm-clerical     Not-in-family  White  Female             0
           Craft-repair         Own-child  White    Male         11678
           Exec-managerial           Wife  White    Male         20051
           Prof-specialty            Wife  White    Male         20051
           Sales                  Husband  White    Male          9386

                            capital-loss  hours-per-week native-country
income age occupation
<=50K  17  ?                        1721              50  United-States
           Adm-clerical             1602              40  United-States
           Craft-repair                0              45  United-States
           Exec-managerial             0              35  United-States
           Farming-fishing             0              45  United-States
...                                  ...             ...            ...
>50K   90  Adm-clerical                0              40  United-States
           Craft-repair                0              50  United-States
           Exec-managerial             0              60  United-States
           Prof-specialty              0              72  United-States
           Sales                    1825              50  United-States

[1616 rows x 12 columns]

In [283]:
df.groupby(['income','age','occupation']).min()

                              workclass  fnlwgt   education  educational-num  \
income age occupation
<=50K  17  ?                          ?   27251        10th                4
           Adm-clerical     Federal-gov   29078        10th                6
           Craft-repair       Local-gov   61838        10th                4
           Exec-managerial      Private   23856        11th                7
           Farming-fishing    Local-gov   32607        10th                4
...                                 ...     ...         ...              ...
>50K   90  Adm-clerical         Private  197613     HS-grad                9
           Craft-repair       Local-gov  175491     HS-grad                9
           Exec-managerial    Local-gov   51744  Assoc-acdm               12
           Prof-specialty       Private   87372     Masters               14
           Sales                Private   46786  Assoc-acdm               12

                                marital-status    relationship  \
income age occupation
<=50K  17  ?                     Never-married   Not-in-family
           Adm-clerical          Never-married   Not-in-family
           Craft-repair          Never-married   Not-in-family
           Exec-managerial       Never-married       Own-child
           Farming-fishing       Never-married  Other-relative
...                                        ...             ...
>50K   90  Adm-clerical          Never-married   Not-in-family
           Craft-repair     Married-civ-spouse         Husband
           Exec-managerial  Married-civ-spouse         Husband
           Prof-specialty   Married-civ-spouse         Husband
           Sales            Married-civ-spouse         Husband

                                          race  gender  capital-gain  \
income age occupation
<=50K  17  ?                Asian-Pac-Islander  Female             0
           Adm-clerical     Amer-Indian-Eskimo  Female             0
           Craft-repair                  Other  Female             0
           Exec-managerial               White  Female             0
           Farming-fishing               Black  Female             0
...                                        ...     ...           ...
>50K   90  Adm-clerical                  White  Female             0
           Craft-repair                  White    Male          9386
           Exec-managerial               Black  Female             0
           Prof-specialty                White  Female             0
           Sales                         White    Male             0

                            capital-loss  hours-per-week native-country
income age occupation
<=50K  17  ?                           0               4        England
           Adm-clerical                0               4  United-States
           Craft-repair                0              10       Columbia
           Exec-managerial             0              20  United-States
           Farming-fishing             0               5         Mexico
...                                  ...             ...            ...
>50K   90  Adm-clerical                0              40  United-States
           Craft-repair                0              40        Ecuador
           Exec-managerial             0              40        England
           Prof-specialty              0              40  United-States
           Sales                       0              15  United-States

[1616 rows x 12 columns]

In [265]:
df.groupby(['income','age']).count()

            workclass  fnlwgt  education  educational-num  marital-status  \
income age
<=50K  17         595     595        595              595             595
       18         862     862        862              862             862
       19        1050    1050       1050             1050            1050
       20        1112    1112       1112             1112            1112
       21        1090    1090       1090             1090            1090
...               ...     ...        ...              ...             ...
>50K   83           2       2          2                2               2
       84           1       1          1                1               1
       85           1       1          1                1               1
       88           1       1          1                1               1
       90          13      13         13               13              13

            occupation  relationship  race  gender  capital-gain  \
income age
<=50K  17          595           595   595     595           595
       18          862           862   862     862           862
       19         1050          1050  1050    1050          1050
       20         1112          1112  1112    1112          1112
       21         1090          1090  1090    1090          1090
...                ...           ...   ...     ...           ...
>50K   83            2             2     2       2             2
       84            1             1     1       1             1
       85            1             1     1       1             1
       88            1             1     1       1             1
       90           13            13    13      13            13

            capital-loss  hours-per-week  native-country
income age
<=50K  17            595             595             595
       18            862             862             862
       19           1050            1050            1050
       20           1112            1112            1112
       21           1090            1090            1090
...                  ...             ...             ...
>50K   83              2               2               2
       84              1               1               1
       85              1               1               1
       88              1               1               1
       90             13              13              13

[142 rows x 13 columns]

In [185]:
df['age'].sum()/df['age'].count()

38.64358543876172

In [179]:
df['education'].value_counts().count()

16

In [203]:
df['age'].value_counts().count()

74

In [181]:
df['occupation'].value_counts().count()

15

In [183]:
df['marital-status'].value_counts().count()

7

In [152]:
df['education'].value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [102]:
df['age'].median()

37.0

In [142]:
df['income'].value_counts()

income
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [154]:
a=df['age'].sum()

In [156]:
b=df['age'].count()

In [158]:
c=a/b

In [161]:
c

38.64358543876172

In [144]:
df['occupation'].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [146]:
df['occupation'].count()

48842

In [148]:
df['age'].count()

48842

In [104]:
df['age'].mode()

0    36
Name: age, dtype: int64

In [150]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

In [106]:
df.info

<bound method DataFrame.info of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [110]:
df['workclass'].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [112]:
df.count()

age                48842
workclass          48842
fnlwgt             48842
education          48842
educational-num    48842
marital-status     48842
occupation         48842
relationship       48842
race               48842
gender             48842
capital-gain       48842
capital-loss       48842
hours-per-week     48842
native-country     48842
income             48842
dtype: int64

In [114]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [116]:
df.shape

(48842, 15)

In [118]:
df.size

732630

In [120]:
df.max

<bound method NDFrame._add_numeric_operations.<locals>.max of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [122]:
df['age'].max()

90

In [124]:
df['age'].min()

17

In [126]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [128]:
df['fnlwgt'].min()

12285

In [130]:
df['fnlwgt'].max()

1490400

In [132]:
df['fnlwgt'].count()

48842

In [134]:
df['fnlwgt'].value_counts()

fnlwgt
203488    21
190290    19
120277    19
125892    18
126569    18
          ..
188488     1
285290     1
293579     1
114874     1
257302     1
Name: count, Length: 28523, dtype: int64

In [136]:
df.ndim

2

In [138]:
df.head

<bound method NDFrame.head of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [140]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [163]:
df.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [165]:
df.notnull()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
48838,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
48839,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
48840,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
48841,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [167]:
df.isnull()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48839,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [169]:
df.sort_index()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [171]:
df['workclass'].sort_index()

0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: workclass, Length: 48842, dtype: object

In [173]:
df['fnlwgt'].sort_index()

0        226802
1         89814
2        336951
3        160323
4        103497
          ...
48837    257302
48838    154374
48839    151910
48840    201490
48841    287927
Name: fnlwgt, Length: 48842, dtype: int64